# Copyright (c) 2019 AUROMIND Ltd. All rights reserved.

# Project environment
# =====================================================
.*
/backup/
/datasets/
/checkpoints/
/experiments/
/models/
/logs/
/docs/
!/.gitignore
!/.gcloudignore

# Package Setup
# =====================================================
*.egg-info

# Compiled Python files
# =====================================================
*.pyc

# Log files
# =====================================================
*.log

# Archive files
# =====================================================
*.zip
*.tar.gz